<footer class="section fixed-bottom" style="background: #f2f2f2;">
    <div class="container">
        <div class="row p-0">
            <div class="col-md-12">
                <div class="text-center p-4">
                    <p class="m-0"><span>©  </span><span
                            class="copyright-year">{{year}}</span><span> </span><span>Waves</span><span>. </span><span>All
                            Rights Reserved.</span></p>
                </div>
            </div>
        </div>
    </div>
</footer>